@import "vars";
@import "libs";
@import "fonts";
@import "global";

.page {
	@media (min-width: 1440px) {
		background-image: linear-gradient(to right, #a1b7c8 24.5%, transparent 24%) !important;
	}
	@media (min-width: 2750px) {
		background-image: linear-gradient(to right, #a1b7c8 30%, transparent 30%) !important;
	}
}

.header {
	background-color: #a1b7c8;
	@media (min-width: 768px) {
		min-height: 100px;
	}
	@media (min-width: 998px) {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		/* padding-top: 50px;
		padding-bottom: 50px; */
	}
	&.page__header {
		@media (min-width: 998px) {
			width: 240px;
			position: fixed;
			left: 0;
			top: 0;
			height: 100%;
			padding: 0 20px;
		}
		@media (min-width: 1440px) {
			width: 355px;
			top: 0;
			left: calc(50% - 745px);
		}
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 13px;
		padding-bottom: 13px;
		@media (min-width: 768px) {
			padding-top: 29px;
			padding-bottom: 28px;
		}
		@media (min-width: 998px) {
			flex-direction: column;
			height: 100vh;
			padding: 0px 20px;
			align-items: flex-end;
		}
		@media (min-width: 1440px) {
			flex-direction: column;
			height: 100%;
			padding-top: 60px;
		}
	}
	&__contacts {
		position: absolute;
		background-color: #a1b7c8;
		top: 61px;
		left: 0;
		right: 0;
		padding: 30px 15px;
		color: #fff;
		display: none;
		@media (min-width: 768px) {
			top: 101px;
		}
		@media (min-width: 998px) {
			display: block;
			/* position: static;
			padding: 0; */
		}

		&-list {
			@media (min-width: 768px) {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
			}
			@media (min-width: 998px) {
				flex-direction: column;
			}
		}
		&-item {
			&:not(:last-child) {
				margin-bottom: 50px;
			}
			@media (min-width: 768px) {
				margin-bottom: 0px !important;
			}
			@media (min-width: 998px) {
				&:not(:last-child) {
					margin-bottom: 50px !important;
				}
			}
		}
	}
	&__contacts-burger {
		display: block;
		width: 27px;
		height: 14px;
		background: transparent url("../images/menu.svg");
		border: none;
		outline: none;
		padding: 0;
		@media (min-width: 998px) {
			display: none;
		}
	}
	&__logo {
		width: 124px;
		@media (min-width: 768px) {
			width: 180px;
		}
	}
}

.contacts {
	&__head {
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		margin-bottom: 7px;
	}
	&__link {
		font-size: 16px;
		line-height: 22px;
	}
	&__social {
		&-list {
			display: flex;
		}
		&-link {
			display: inline-block;
			height: 26px;
		}
		&-item {
			display: block;
			width: 26px;
			height: 26px;
			margin-right: 18px;
			&:last-child {
				margin-right: 0px;
			}
		}
	}
}

section {
	padding: 30px 0;
	@media (min-width: 998px) {
		padding: 65px 0;
	}
	@media (min-width: 1440px) {
		padding: 75px 0;
	}
}

.present {
	@media (min-width: 768px) {
		padding-top: 70px;
	}
	@media (min-width: 998px) {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			height: 100%;
			width: 40%;
			background-color: #a1b7c8;
			z-index: -1;
		}
	}
	&__container {
		@media (min-width: 480px) {
			display: flex;
		}
	}
	&__photo {
		width: 100%;
		object-fit: cover;
		object-position: center top;
		//overflow: hidden;
		margin-bottom: 20px;
		@media (min-width: 480px) {
			width: 50%;
			margin-right: 15px;
			margin-bottom: 0;
		}
		@media (min-width: 768px) {
			width: 370px;
			margin-right: 27px;
		}
		@media (min-width: 1440px) {
			width: 445px;
		}
	}
	&__content {
		@media (min-width: 480px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 34px;
		line-height: 120%;
		text-transform: uppercase;
		margin-bottom: 10px;
		@media (min-width: 480px) {
			font-size: 40px;
		}
		@media (min-width: 768px) {
			font-size: 40px;
		}
		@media (min-width: 768px) {
			margin-bottom: 24px;
		}
		@media (min-width: 1440px) {
			margin-bottom: 20px;
		}
	}
	&__suptitle {
		margin-bottom: 18px;
		font-weight: bold;
		font-size: 16px;
		line-height: 120%;
		text-transform: uppercase;
		@media (min-width: 480px) {
			font-size: 18px;
		}
		@media (min-width: 768px) {
			margin-bottom: 40px;
		}
		@media (min-width: 1440px) {
			font-size: 20px;
			margin-bottom: 60px;
		}
	}
	&__description {
		margin-bottom: 20px;
		@media (min-width: 480px) {
			font-size: 16px;
		}
		@media (min-width: 768px) {
			margin-bottom: 60px;
		}
		@media (min-width: 1440px) {
			font-size: 18px;
		}
	}
	&__order-btn {
		background: #e87c40;
		border-radius: 4px;
		margin-bottom: 20px;
		padding: 16px 60px;
		border: none;
		outline: none;
		font-size: 14px;
		line-height: 140%;
		text-transform: uppercase;
		color: #fff;
		@media (min-width: 480px) {
			font-size: 18px;
		}
		@media (min-width: 768px) {
			padding: 24px 82px;
		}
	}
}

.advantages {
	&__title {
		font-weight: bold;
		font-size: 50px;
		line-height: 120%;
		text-transform: uppercase;
		color: #110303;
		margin-bottom: 40px;
		@media (min-width: 468px) {
			font-size: 40px;
		}
		@media (min-width: 768px) {
			margin-bottom: 50px;
		}
		@media (min-width: 1440px) {
			font-size: 50px;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px 50px;
		justify-content: center;
		@media (min-width: 468px) {
			gap: 40px;
		}
		@media (min-width: 768px) {
			justify-content: space-between;
			gap: 80px;
		}
		@media (min-width: 1440px) {
			justify-content: space-between;
			gap: 1000px;
		}
		&-item {
			flex-basis: 290px;
			min-height: 61px;

			font-size: 14px;
			line-height: 140%;
			padding: 10px 10px 10px 81px;
			background-repeat: no-repeat;
			background-size: 61px;
			background-position: left center;
			@media (min-width: 468px) {
				font-size: 16px;
			}
			@media (min-width: 1440px) {
				font-size: 18px;
			}
		}
	}

	&__stack {
		background-image: url("../images/stack.svg");
	}
	&__mockup {
		background-image: url("../images/mockup.svg");
		order: 2;
	}
	&__inclusive {
		background-image: url("../images/inclusiv.svg");
		order: 4;
	}
	&__adapt {
		background-image: url("../images/adapt.svg");
	}
	&__clean {
		background-image: url(../images/clean.svg);
		order: 3;
	}
	&__copyright {
		background-image: url("../images/copyright.svg");
		order: 5;
	}
}

.portfolio {
	&__title {
		font-weight: bold;
		font-size: 30px;
		line-height: 120%;
		/* identical to box height, or 36px */

		text-transform: uppercase;
		margin-bottom: 40px;
	}
	&__card {
		max-width: 252px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		padding: 20px 14px;
		&-img {
			width: 155px;
			height: 92px;
			background-image: url("../images/device-macbook-pro.svg");
			background-size: cover;
			padding: 5px 18px 12px;
			align-self: center;
			margin-bottom: 30px;
		}
		&-data {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 600;
			font-size: 14px;
			margin-bottom: 23px;
		}
		&-client {
			line-height: 120%;
		}
		&-date {
			line-height: 140%;
		}
		&-title {
			font-size: 16px;
			line-height: 120%;
		}
	}
	&__arrow{
		width: 26px;
		height: 26px;

		display: block;
		background-image: url('../images/arrow.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		border: none;
		outline: none;
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		&-left{
			left: 0;
		}
		&-right{
			right:0;
			transform: rotate(180deg) translateY(50%);
		}
	}

	&__slider{
		position: relative;
		max-width: 290px;
		margin: 0 auto;
	}
}

@import "media";
